// .babelrc
{
     "plugins": [["transform-remove-console", { "exclude": ["error", "warn"] }]],
     "presets": [["@babel/preset-react", {
        "runtime": "automatic"
             }],
                  ["@parcel/babel-preset-env", {"targets": {"node": "current"}}]
        ]
  }
  